body {
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
}

.active {

}

.exit {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
}

.left {
	color: white;
	z-index: 45;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 2em;
}

.right {
	color: white;
	z-index: 45;
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 2em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
}

.modal img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	width: 80%;
}

.container {
	width: 100%;
}

div {
	float: left;
	width: 25%;
}

div img {
	height: auto;
	width: 100%;
}